.container-form {
    height: 100%;
    margin-top: 2rem;
}


form {
    max-width: 450px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 3rem;
    font-size: 2rem;
}

/* Style des groupes de champs */
.form-group {
    margin-bottom: 1.5rem;

    & > label {
        display: block;
        margin-bottom: 0.5rem;
        color: #666;
        font-size: 14px;
    }

    & > :is(input, textarea, select) {
        width: 100%;
        padding: 0.8rem;
        border: 1px solid #e0e0e0;
        border-radius: 4px;
        font-size: 14px;
        background-color: #f8f8f8;
        transition: border-color 0.3s ease;

        &:user-invalid {
            border-color: #ff7272;
        }

        &:focus {
            outline: none;
            border-color: #4299e1;
            background-color: #fff;
        }
    }

    & > textarea {
        resize: vertical;
        max-height: 300px;
        min-height: 100px;
    }
}

.actions {
    display: flex;
    gap: 20px;

    & > * {
        flex: 1;
    }

    button[type="submit"] {
        padding: 0.8rem;
        background-color: #4299e1;
        color: white;
        border: none;
        border-radius: 4px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    
        &:hover {
            background-color: #3182ce;
        }
    }

    .cancel-btn {
        text-align: center;
        padding: 0.8rem;
        background-color: #e15c42;
        color: white;
        border: none;
        border-radius: 4px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    
        &:hover {
            background-color: #bd3b21;
        }
    }
}