.profile-container {
    display: grid;
    justify-content: center;
    padding-top: 30px;
}

.profile-title{
    font-size: 2rem;
    margin-bottom: 30px;
    color: var(--accent-color);
}

.profile-container .inner-profile {
    width: 1000px;
    padding: 20px;
}

/* Gestion des catégories */
.form-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid var(--border-color);
    margin-bottom: 30px;
}

.form-container h2 {
    font-size: 1.2rem;
    margin-bottom: 15px;
    color: var(--accent-color);
}

.delete-form {
    display: flex;
    gap: 10px;
}

.delete-form input[type="text"] {
    flex: 1;
    padding: 8px 12px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
}


.deleteuser-form {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-right: 15px;
}

button{
    padding: 8px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
    font-size: 1rem;
    
}

.delete-button {
    background-color: var(--flash-error);

    &:hover{
        background-color: rgb(192, 73, 49);
    }
}

.success-button {
    background-color: var(--flash-success);

    &:hover{
        background-color: rgb(39, 160, 33);
    }
}

.options{
    display: flex;
    gap: 15px;
}



#themeColor{
    border-radius: 50%;
    height: 60px;
    width: 60px;
    border: none;
    outline: none;
    -webkit-appearance: none;
}

#themeColor::-webkit-color-swatch-wrapper {
    padding: 0; 
}
#themeColor::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
}

.color-select{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-block: 1rem;
    margin-bottom: calc(1rem + 15px);
    font-size: 1.2rem;
    
    & > p > span {
        font-weight: 500;
    }
}



